<div class="w-full flex sm:flex-row flex-wrap p-6">
  <!-- Artist Profile -->
  <div>
    <img
      src="<%= artist.images[0].url %>"
      alt="Artist Image"
      class="w-[150px]"
    />
    <div class="font-bold">
      <h1 class="text-lg"><%= artist.name %></h1>
    </div>
    <!-- Genre -->
    <div>
      <span>
        Genre: <% artist.genres.forEach((genre) => { %> <%= genre %>, <% }) %>
      </span>
    </div>
  </div>
  <!-- End Artist Profile -->

  <!-- Top Tracks -->
  <div>
 <div class="flex-1">
        <h1 class="font-bold text-lg">Top Tracks</h1>
    </div>
  <div class="mt-4 w-full flex flex-wrap gap-2">
   
    <% topTracks.tracks.forEach((track) => { %>
    <div class="p-2 bg-gray-50 shadow-md hover:shadow-lg">
      <img src="<%= track.album.images[1].url %>" class="w-[200px]" />
      <div>
        <span class="track-name text-lg block font-bold"> <%= track.album.name %> </span>
        <span class="block"> <%= track.album.album_type %> </span>
        <% if(track.album.preview_url) { %>
        <audio controls>
          <source src="<%= track.album.preview_url %>" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
        <% } else { %>
        <span class="italic text-sm">No audio preview available.</span>
        <% } %>
      </div>
    </div>
    <% }) %>
  </div>
  </div>

  <!-- Albums -->
  <!-- <h1 class='text-lg'>
        Albums
    </h1> -->
    <div>
<div>
    <div class="flex-1">
        <h1 class="font-bold text-lg">Albums</h1>
    </div>
 <div class="mt-4 w-full flex flex-wrap gap-2 ">
    
    <% albums.items.forEach((album) => { %>
    <div
      class="bg-gray-50 flex items-center flex-row gap-4 shadow-sm  p-2 hover:shadow-lg"
    >
      <img class="w-[150px]" src="<%= album.images[0].url %>" alt="album" />
      <div class="flex flex-col">
        <span class="break-all"> <%= album.name %></span>
        <span class="font-bold"><%= album.total_tracks %> Total tracks</span>
        <span>Release date - <strong> <%= album.release_date %></strong></span>
      </div>
    </div>
    <% }) %>
</div>
</div>
    <!-- Pagination -->
    <div class="flex flex-row gap-2 mt-4">
      <% if (albums.previous) { %>
      <a
        href="/artist/show/<%= id %>?offset=<%= albums.offset - albums.limit %>"
        class="text-white p-3 bg-amber-700"
      >
        Prev Album
      </a>
      <% } %>
      <a
        href="/artist/show/<%= id %>?offset=<%= albums.offset + albums.limit %>"
        class="text-white p-3 bg-amber-700"
      >
        Next Album
      </a>
    </div>
  </div>
</div>
