<div class='w-full h-full flex flex-col gap-4 items-center p-6'>
    <div>
        <!-- Genre -->
        <div class='w-full'>
            <span class='text-[#b8bb26] mx-2'>
                Genre:
                <% artist.genres.forEach((genre) => { %>
                <%= genre %>,
                <% }) %>
            </span>
        </div>
        <img src="<%= artist.images[0].url %>" alt="Artist Image" class='mb-4' />
        <div class=' text-[#b8bb26] font-bold'>
            <h1 class='text-4xl'>
                <%= artist.name  %>
            </h1>
            <span class='text-3xl block'><small>Followers </small>
                <%= artist.followers.total %></span>
            <span class='text-3xl'><small>Popularity </small>
                <%= artist.popularity %></span>
        </div>
    </div>
    <!-- Top Tracks  -->
    <h1 class='text-[#b8bb26] mt-4 font-bold text-4xl'>
        Top Tracks
    </h1>
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper ">
            <!-- Slides -->
            <% topTracks.tracks.forEach((track) => { %>
            <div class='swiper-slide'>
                <img class='position-relative' src="<%= track.album.images[1].url %>">
                <div class="text-container text-[#b8bb26]">
                    <span class='position-absolute top-0 text-type capitalize'>
                        <span class="track-name text-2xl block">
                            <%= track.album.name %>
                        </span>
                        <span class='block'>
                            <%= track.album.album_type %>
                        </span>
                        <% if(track.album.preview_url) { %>
                        <audio controls>
                            <source src="<%= track.album.preview_url %>" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        <% } else {  %>
                        <span class='italic text-sm text-[#fb4934]'>No audio preview available.</span>
                        <% } %>
                    </span>
                </div>
            </div>
            <% }) %>
        </div>
        <!-- If we need pagination -->
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
    <!-- Albums  -->
    <h1 class='text-[#b8bb26] mt-4 font-bold text-4xl'>
        Albums
    </h1>
    <div class='flex flex-col flex-wrap gap-4 p-6 '>
        <% albums.items.forEach((album) => { %>
        <div class='flex items-center text-white flex-row gap-4 shadow-sm rounded p-4' style='background-color:#3c3836;'>
            <img class='w-[150px] rounded' src="<%= album.images[0].url %>" alt='album'>
            <div class='flex flex-col'>
                <span class="break-all">
                    <%= album.name %></span>
                <span><strong>
                        <%= album.total_tracks %></strong> Total tracks</span>
                <span>Release date - <strong>
                        <%= album.release_date %></strong></span>
            </div>
        </div>
        <% }) %>
        <!-- Pagination -->
        <div class='flex flex-row gap-2'>
            <% if (albums.previous) { %>
            <a href="/artist/show/<%= id %>?offset=<%= albums.offset - albums.limit %>" class='text-white p-3' style='background-color:#3c3836;'>
                Prev
            </a>
            <% } %>
            <a href="/artist/show/<%= id %>?offset=<%= albums.offset + albums.limit %>" class='text-white p-3' style='background-color:#3c3836;'>
                Next
            </a>
        </div>
    </div>
</div>